.project_sidemenu {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.project_sidemenu .action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_sidemenu .action .option {
  color: #caced8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
}

.project_sidemenu .action .option:hover {
  background-color: #1b2433;
}
