.project_progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px;
  background-color: #fff;
}

.project_progress .head {
  color: #caced8;
}

.last_progress {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #caced8;
  border-top: 1px solid #caced8;
  gap: 20px;
}

.last_progress .text1 {
  font-weight: bold;
  font-size: 20px;
}

.progress_details {
  padding: 10px;
}

.progress_details label {
  font-weight: bold;
  font-size: 20px;
}

.panda {
  display: flex;
  flex-direction: column !important;
}

.progress_options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pbtn_sm {
  font-size: medium;
}
.pregress_btn {
  padding: 5px;
  background-color: #121a27;
  color: #fff;
}
